.header {
	height: var(--header-height);

	padding: 0;
	padding-left: 1rem;

	display: flex;
	align-items: center;

	position: sticky;
	top: 0;
	background-color: white;
	box-shadow: 0 1px 10px 0 var(--dark-gray);
}
.menu-icon-btn {
	background: none;
	border: none;
	padding: 0;
}
.menu-icon {
	width: 35px;
	height: 35px;
	fill: var(--medium-gray);
	cursor: pointer;
}

.container {
	display: flex;
}

.container .content {
	margin: 1rem;
}
